USE [GPA_CAT42_SP_2021]
GO
/****** Object:  StoredProcedure [dbo].[ROBOT_VALIDA_CHAVE]    Script Date: 30/08/2023 18:16:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[ROBOT_VALIDA_CHAVE]
as
begin
UPDATE NFE2 SET CHV_NFE_CALCULADA = dbo.F_CHAVE_DFe_GERAR_ChaveSemDV(left(CHV_NFE,43)), CORRETO = IIF(CHV_NFE_CALCULADA = CHV_NFE, 1,0)

END
